.button {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  border: 0;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  user-select: none;
  appearance: none;
}

@keyframes changewidth {
  from {
    transform: translate(0, -50%);
  }

  to {
    transform: translate(5px, -50%);
  }
}

@keyframes changewidthLeft {
  from {
    transform: translate(0, -50%);
  }

  to {
    transform: translate(5px, -50%);
  }
}

@keyframes changewidthDown {
  from {
    transform: translate(0, -50%);
  }

  to {
    transform: translate(0, -48%);
  }
}

.btn {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  border: 0;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  user-select: none;
  appearance: none;
  font-size: rem(13px);
  background: none;
  border-radius: 0;
  &:hover, &:focus, &:active {
	  background: none !important;
	  outline: none;
	  box-shadow: none;
  }
  &.btn-primary {
	  text-transform: uppercase;
	  color: #4B515D;
	  letter-spacing: 1px;
	  @include icon('right-arrow', 'after');
	  position: relative;
	  padding-right: 3em;
	  padding-top: rem(12px);
	  	&:after {
		  	color: $primary-color;
	  		display: inline-block;
	  		vertical-align: middle;
	  		position: absolute;
	  		top: 50%;
	  		transform: translateY(-50%);
	  		right: 0;
	  	}
	  	&:hover {
		  	&:after {
				  animation-duration: 0.5s;
				  animation-name: changewidth;
				  animation-iteration-count: infinite;
				  animation-direction: alternate;
		  	}
	  	}
  	 &.arrow-on-left {
	  	 padding-right: 0;
	  	 padding-left: 3em;
	  	&:after {
	  		left: 0;
	  		right: auto;
	  		transform: translateY(-50%) rotate(180deg);
	  	}
	  	&:hover {
		  	&:after {
				  animation-duration: 0.5s;
				  animation-name: changewidthLeft;
				  animation-iteration-count: infinite;
				  animation-direction: alternate;
		  	}
	  	}
  	 }
  }
  &.btn-square {
	  border: 1px solid $primary-color;
	  text-transform: uppercase;
	  padding: 1.5em 4em 1.4em 4em;
	  font-weight: 700;
	  transition: all 0.3s ease-in;
	  &:hover {
		  background-color: $primary-color !important;
	  }
  }
  &-full {
	  background-color: $primary-color;
	  border: 1px solid $primary-color;
	padding: 1em 5em;	  
	color: white;
	font-weight: 500;
	text-transform: uppercase;
  }
  &-outlined {
	text-transform: uppercase;
	border: 1px solid $primary-color;
	font-weight: 500;
	padding: 1em 5em;	  
  }
}

[data-submit-button] {
	color: white;
	text-transform: uppercase;
	border: 1px solid $primary-color;
	letter-spacing: 1px;
	font-size: rem(13px);
	font-weight: 700;
	background: transparent;
	padding: 1.5em 4em;
	transition: all 0.3s ease-in;
	@include media('<=768px'){
		padding: 1em 2em;
		margin-top: 2em;
	}
	&:hover {
		background-color: $primary-color;
	}
  &:hover, &:focus, &:active {
	  outline: none;
	  box-shadow: none;
  }
}