.button {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  border: 0;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  user-select: none;
  appearance: none;
}

.btn {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  border: 0;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  user-select: none;
  appearance: none;
  font-size: rem(13px);
  &.btn-primary {
	  @include icon(right-arrow);
  	&:after {
	  	@include icon();
	  	content: "\f101";
  	}
  }
}
