@mixin icon-styles {
	font-family: "jill-icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == arrow-down {
		$char: "\E001";
	}
	@if $filename == cart {
		$char: "\E002";
	}
	@if $filename == close {
		$char: "\E003";
	}
	@if $filename == facebook {
		$char: "\E004";
	}
	@if $filename == filter {
		$char: "\E005";
	}
	@if $filename == left-arrow {
		$char: "\E006";
	}
	@if $filename == pinterest {
		$char: "\E007";
	}
	@if $filename == right-arrow {
		$char: "\E008";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}

.icon-arrow-down {
	@include icon(arrow-down);
}
.icon-cart {
	@include icon(cart);
}
.icon-close {
	@include icon(close);
}
.icon-facebook {
	@include icon(facebook);
}
.icon-filter {
	@include icon(filter);
}
.icon-left-arrow {
	@include icon(left-arrow);
}
.icon-pinterest {
	@include icon(pinterest);
}
.icon-right-arrow {
	@include icon(right-arrow);
}