html {
  background-color: $color-body;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  font-size: $base;
  font-family: $base-font !important;
  height: 100%;
}
