.process {
	position: relative;
	h1 {
		font-size: rem(30px);
		letter-spacing: rem(3.08px);
		margin-bottom: rem(20px);
		margin-top: 0;
		font-weight: 300;
	}
	p {
		letter-spacing: rem(1.08px);
		font-size: rem(14px);
		font-weight: 300;
	}
	#shopify-section-process-page-hero-section {
		margin-bottom: rem(50px);
		.featured-text {
			max-width: 700px;
			margin: 0 auto;
		}
	}
	@include media('<=768px'){
		.img {
			min-height: rem(300px);
		}
	}
	.dots-container {
		position: absolute;
		left: 0;
		bottom: rem(50px);
		right: 0;
		z-index: 3;
		@include media('<=768px'){
			bottom: auto;
			top: rem(150px);
		}
		.slick-dots {
			list-style-type: none;
			padding: 0;
			margin: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			button {
				color: transparent;
				background-color: white;
				height: rem(2px);
				width: rem(35px);
				border: none;
				margin: 0 10px;
				font-size: 1px;
			}
			li {
				&:hover, &:active, &:focus, &:visited {
					outline: none;
					box-shadow: none;
				}
			}
			li:not(.slick-active) {
				button {
					opacity: 0.3;
					&:hover, &:active, &:focus, &:visited {
						outline: none;
						box-shadow: none;
					}
				}
			}
			* {
				&:hover, &:active, &:focus, &:visited {
					outline: none;
					box-shadow: none;
				}
			}
		}
	}
	.section-row {
		height: rem(600px);
		@include media('<=lg'){
			height: auto;
		}
		&.oneslide {
			.slickjs-nav-2 {
				.slick-list {
					margin-top: 0;
					height: 100%;
				}
			}
		}
		.img {
			@include media('<=lg'){
				height: rem(200px);
			}
		}
		.bg {
			background-size: cover;
			background-position: center center;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}
		.slickjs, .slickjs-2 {
			height: 100%;
			.position-relative {
				height: 100%;
			}
			.slick-list, .slick-track {
				height: 100%;
			}
		}
		.slickjs-nav, .slickjs-nav-2 {
			height: 100%;
			.slick-list, .slick-track {
				height: 100%;
			}
			.slick-slide {
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				text-align: center;
				padding-left: 10%;
				padding-right: 10%;
				color: white;
				@include media('<=lg'){
					padding-top: 60px;
					padding-bottom: 50px;
				}
				@include media('<=sm'){
					padding: 50px;
				}
				h3 {
					font-size: rem(30px);
					letter-spacing: rem(3.08px);
					margin-bottom: rem(30px);
					font-weight: 200;
				}
				p {
					letter-spacing: rem(1.08px);
					font-size: rem(14px);
					font-weight: 300;
					opacity: 0.7;
				}
			}
		}
		.slickjs-nav-2 {
			.slick-list, .slick-track {
				height: 100%;
			}
			.slick-list {
				margin-top: 30%;
				height: 70%;

				@include media('<=lg'){
					margin-top: 4rem;
					height: auto;
				}
			}
		 }
		.btn {
			color: white;
			line-height:  normal;
			margin-top: rem(30px);
		}
		.slick-arrow {
			position: absolute;
			top: 50%;
			z-index: 9;
			color: $primary-color;
			background: none;
			margin: 0;
			padding: 0;
			border: none;
			width: rem(20px);
			color: transparent;
			@include media('<=lg'){
				margin-top: -0.1em;
				font-size: 0.8rem;
			}
			&::before {
				color: $primary-color;
			}
			&:active, &:focus, &:hover {
				outline: none;
				box-shadow: none;
			}
			&.slick-next {
				right: 10%;
				transform: translate(50%, -50%);
				@include icon(right-arrow);
			}
			&.slick-prev {
				left: 10%;
				transform: translate(-50%, -50%);
				@include icon(left-arrow);
			}

			&.slick-disabled {
				visibility: hidden;
				opacity: 0;
			}
		}
	}
	&.processpage {
		.slick-arrow {
			top: -5%;

			@include media('<=lg'){
				top: -0.5rem;
			}
		}
		.slickjs-nav-2  {
			.slick-slide {
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				text-align: center;
				padding-left: 5%;
				padding-right: 5%;
				color: white;
				@include media('<=sm'){
					padding-left: 30px;
					padding-right: 30px;
				}

				h3 {
					font-size: rem(30px);
					letter-spacing: rem(2.31px);
					margin-bottom: rem(30px);
					font-weight: 200;
				}
				p {
					letter-spacing: rem(1.08px);
					font-size: rem(14px);
				}
			}
		}
		.slick-arrow {
			&.slick-next {
				right: 15%;
				@include media('<=sm') {
					right: 10%;
				}
			}
			&.slick-prev {
				@include media('<=sm') {
					left: 10%;
				}
			}
		}
		.slick-dots {
			position: absolute;
			top: -5%;
			left: 50%;
			transform: translate(-50%, -50%);
			padding: 0;
			margin: 0;
			white-space: nowrap;
			list-style-type: none;
			@include media('<=lg'){
				top: -0.5rem;
			}
			li {
				margin: 0;
				background: none;
				border: none;
				border-right: 1px solid $primary-color;
				padding: 1.5em 2em;
				display: inline-block;

				@include media('<=sm') {
					padding: 1.25em 1em;
				}

				button {
					background: none;
					border: none;
					color: $primary-color;

				}
				&.slick-active {
					button {
						color: white;
					}
				}
				&:last-child {
					border-right: none;
				}
			}
		}
	}
}

.processdesignrow {
	h1 {
		font-size: rem(30px);
		letter-spacing: rem(3.08px);
		margin-bottom: rem(20px);
		margin-top: 0;
		font-weight: 300;
	}
	.featured-text {
		text-transform: uppercase;
		color: #4B515D;
		font-size: rem(13px);
		font-weight: 300;
	}
}
