.separator {
	position: relative;
	height: rem(160px);
	margin: rem(60px) 0;
	margin-bottom: 0;
	padding-bottom: rem(60px);
	border-bottom: 1px solid white;
	@include clearfix;

	@include media('<=lg') {
		height: rem(80px);
		margin: rem(40px) 0;
	}

	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 50%;
		width: 1px;

//		transform: translateY(-50%);
		height: rem(100px);
		background-color: #F7F3EE;
	}
	&.small {
		height: rem(60px);
		margin: rem(30px) 0;
		margin-bottom: 0;
		padding-bottom: rem(30px);
		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 50%;
			width: 1px;
			height: rem(30px);
			background-color: #F7F3EE;
		}
	}
}
