.shop-wallpaper {
	overflow: hidden;
	.row, .my-parallax-window {
		height: 100%;
	}
	.container-fluid {
		padding-left: 0;
		padding-right: 0;
		margin-left: 0;
		margin-right: 0;
		position: relative;
		height: rem(600px);
		.simpleParallax {
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
		}
	}
	.bg {
		background-size: cover;
		background-position: center center;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
	.inner {
		background-color: rgba(255, 255, 255, 0.85);
		width: rem(175px);
		height: rem(50px);
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		a {
			text-align: center;
			color: $secondary-color;
			letter-spacing: 1px;
			font-size: rem(13px);
			font-weight: 400;
			text-transform: uppercase;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
			padding-top: rem(3px);
			transition: all 0.3s ease-in-out;
			&:hover {
				color: white;
				text-decoration:  none;
				background-color: $secondary-color;
			}
		}
	}
}

#shopify-section-1584096618627 {
	a {
		color: $secondary-color;
			&:hover {
				color: white;
				background-color: $secondary-color;
			}
	}
}