@font-face {
	font-family: "jill-icons";
	src: url('./src/assets/jill-icons.eot');
	src: url('./src/assets/jill-icons.eot?#iefix') format('eot'),
		url('./src/assets/jill-icons.woff2') format('woff2'),
		url('./src/assets/jill-icons.woff') format('woff'),
		url('./src/assets/jill-icons.ttf') format('truetype'),
		url('./src/assets/jill-icons.svg#jill-icons') format('svg');
}

@mixin icon-styles {
	font-family: "jill-icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == right-arrow copy {
		$char: "\E001";
	}
	@if $filename == right-arrow {
		$char: "\E002";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}

.icon-right-arrow copy {
	@include icon(right-arrow copy);
}
.icon-right-arrow {
	@include icon(right-arrow);
}