.template-collection {
	.row {
		.product-box {
			margin-bottom: rem(10px);
			a {
				display: block;
			}
		}
		.product-title {
			a {
				color: black;
				display: block;
				letter-spacing: rem(1.23px);
				font-size: rem(16px);
				margin-top: rem(20px);
				font-weight: 200;
			}
		}
	}
}