.product-single__thumbnail-image {
  border: 2px solid transparent;

  .active-thumbnail & {
    border-color: $color-border;
  }
}

body.template-product {
	section.header {
		.header-row {
			margin-bottom: 0;
			border-bottom: none;
		}
	}
	.slickjs-3-nav {
///		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		.slick-slide {
			padding: 10px;
			img {
				//border: 5px solid white;
			}
			&:focus, &:active {
				outline: none;
				box-shadow: none;
			}
		}
	}
	.featuredimages {
		position: relative;
		.slick-arrow {
			position: absolute;
			top: 50%;
			z-index: 12;
			color: $primary-color;
			background: none;
			margin: 0;
			padding: 0;
			border: none;
			width: rem(40px);
			height: rem(40px);
			color: transparent;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			transform: translateY(-50%);
			background-color: white;
			font-size: 0;
			line-height: 0;

			&::before {
				color: $primary-color;
				font-size: 0.8rem;
			}
			&:active, &:focus, &:hover {
				outline: none;
				box-shadow: none;
			}
			&.slick-next {
				right: 5%;
				@include icon(right-arrow);
				&::before {
					color: $secondary-color;
				}
			}
			&.slick-prev {
				left: 5%;
				@include icon(left-arrow);
				&::before {
					color: $secondary-color;
				}
			}
		}
	}
	.seemore {
		position: absolute;
		right: 30px;
		bottom: 30px;
		color: white;
	}
	.product-details {
		color: white;
		background-color: $secondary-color;
		position: relative;
		padding: rem(50px) rem(70px);
		display: flex;
		flex-direction: column;
		justify-content: center;
		@include media('<=lg'){
			padding: rem(40px);
		}
		@include media('<=sm'){
			padding: rem(30px) rem(15px);
		}
		.vsmall-gutters {
			line-height: normal;
		}
		.select-wrapper {
			position: relative;
			@include icon(arrow-down);
			width: rem(106px);
			display: block;
			padding: 0;
			margin: 0;
			line-height: normal;
			&::before {
				color: $primary-color;
				position: absolute;
				font-size: 7px;
				right: 0;
				bottom: rem(16px);
			}
			label {
				text-transform: uppercase;
				color: $primary-color;
				font-size: rem(13px);
				margin-bottom: 0;
				letter-spacing: 1px;
				margin: 0;
				line-height: normal;
			}
			select {
				position: relative;
				border: none;
				color: $primary-color;
				width: 100%;
				border-bottom: 1px solid $primary-color;
				padding: 1em 0;
				background: transparent;
				font-size: rem(12px);
				border-radius: 0;
				padding: 1em 0;
				height: rem(38px);
			    -webkit-appearance: none;
			    -moz-appearance: none;
			    text-indent: 1px;
			    text-overflow: '';
			    margin: 0;
				@include placeholder {
					color: $primary-color;
				}
				&:focus, &:active {
					outline: none;
					box-shadow: none;
				}
			}
		}
		.social-sharing {
			position: absolute;
			right: 10px;
			top: 50%;
			transform: translateY(-50%);
			color: $primary-color;
			a {
				display: inline-block;
				margin-right: rem(10px);
				color: $primary-color;
			}
		}
		h1 {
			color: $primary-color;
			letter-spacing: rem(3.08px);
			font-weight: 300;
			margin-top: 0;
		}
		.description {
			margin-top: rem(20px);
			font-size: rem(14px);
			margin-bottom: rem(20px);
			ul {
				margin-top: rem(20px);
				margin-left: 0;
				padding-left: 0;
				list-style-type: none;
				li {
					font-size: rem(12px);
					opacity: 0.7;
					margin-bottom: rem(5px);
					&::before {
						content: "•";
						color: $primary-color;
						display: inline-block;
						vertical-align: baseline;
						margin-right: rem(5px);
					}
				}
			}
		}
	}
	label[for="Quantity"]{
		text-transform: uppercase;
		color: $primary-color;
		font-size: rem(13px);
		line-height: normal;
		margin-bottom: 0;
		margin-bottom: rem(3px);
		letter-spacing: 1px;
	}
	.qty-input {
		position: relative;
		display: block;
		line-height: normal;
		@include icon(arrow-down);
		&::before {
			position: absolute;
			top: 50%;
			right: 0;
			color: $primary-color;
			font-size: 7px;
			transform: translateY(-50%);
		}
		#Quantity {
			width: rem(66px);
			height: rem(38px);
			border: none;
			border-bottom: 1px solid $primary-color;
			color: $primary-color;
			background: transparent;
			font-size: rem(12px);
			@include placeholder {
				color: $primary-color;
			}
		}
	}
	.related-items {
		h2 {
			font-weight: 300;
			letter-spacing: rem(2.31px);
			font-size: rem(30px);
		}
		.col-md-6 {
			padding-left: 30px;
			padding-right: 30px;
			@include media('<=768px'){
				margin-bottom: rem(30px);
			}
		}
		.product-title {
			letter-spacing: rem(1.23px);
			font-size: rem(16px);
			text-align: center;
			width: 100%;
			margin-top: rem(20px);
			a {
				color: black;
			}
		}
	}
}
