body.projects, body.collaborations {
	h1, h2 {
		font-weight: 300;
		letter-spacing: rem(3.08px);
		font-size: rem(30px);
	}
	.hero-row {
		.btn {
			position: absolute;
			right: 0;
			top: rem(20px);
			&:after {
				top: 0.7em;
				transform: rotate(90deg);
				animation: none;
			}
		}
	}
	.casestudy-row {
		margin-bottom: rem(50px);
		.case-study-textarea {
			text-align: center;
			background-color: #F5F5F5;
			padding: rem(60px) rem(20px);
			h3 {
				letter-spacing: rem(1.23px);
				font-size: rem(16px);
				margin: 0;
				margin-bottom: 0.6em;
			}
			h4 {
				color: $primary-color;
				letter-spacing: 1px;
				font-size: rem(13px);
				text-transform: uppercase;
				margin-bottom: rem(25px);
			}
			p {
				letter-spacing: rem(1.08px);
				font-size: rem(14px);
				line-height: rem(18px);
				display: inline-block;
				max-width: 400px;
				color: #4A4A4A;
			}
		}
	}
	.project-list-row {
		h2 {
			font-size: rem(16px);
			letter-spacing: rem(1.23px);
			margin-top: 1em;
		}
		a {
			color: black;
			display: block;
			overflow: hidden;
			position: relative;
			&:after {
				transition: all 0.3s ease-in;
				opacity: 0;
				background-color: rgba(0, 0, 0, 0.5);
				content: "";
				position: absolute;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
			}
			&:hover {
				&:after {
					opacity: 1;
				}
			}
		}
		.col-12 {
			margin-bottom: rem(30px);
		}
	}
}

body.project, body.collaboratiion {
	p {
		font-weight: 300 !important;
		span {
			font-weight: 300 !important;
		}
	}
	.nextprev {
		height: rem(260px);
		.colum {
			position: relative;
			text-align: center;
			color: white;
			overflow: hidden;
			&:hover {
				text-decoration: none;
			}
			.btn {
				color: white;
			}
			&:first-child {
				padding-right: 0;
			}
			&:before {
				content: "";
				background-color: black;
				opacity: 0.4;
				position: absolute;
				z-index: 0;
				left: 0;
				right: 0;
				bottom: 0;
				top: 0;
			}
			h3 {
				letter-spacing: rem(2.31px);
				font-size: rem(20px);
				font-weight: 300;
			}
			.bg {
				position: absolute;
				z-index: -1;
				background-position: center center;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				background-size: cover;
				transition: all 0.3s ease-in;
			}
			&:hover {
				.bg {
					transform: scale(1.2);
				}
			}
	}
	}
}