body.projects, body.collaborations {
	h1, h2 {
		font-weight: 300;
		letter-spacing: rem(3.08px);
		font-size: rem(30px);
	}
	.hero-row {
		.btn {
			position: absolute;
			right: 0;
			top: rem(20px);
			&::after {
				top: 0.7em;
				transform: rotate(90deg);
				animation: none;
			}
		}
	}
	.casestudy-row {
		margin-bottom: rem(50px);
		.case-study-textarea {
			text-align: center;
			background-color: #F5F5F5;
			padding: rem(60px) rem(20px);
			h3 {
				letter-spacing: rem(1.23px);
				font-size: rem(16px);
				margin: 0;
				margin-bottom: 0.6em;
			}
			h4 {
				color: $primary-color;
				letter-spacing: 1px;
				font-size: rem(13px);
				text-transform: uppercase;
				margin-bottom: rem(25px);
			}
			p {
				letter-spacing: rem(1.08px);
				font-size: rem(14px);
				line-height: rem(18px);
				display: inline-block;
				max-width: 400px;
				color: #4A4A4A;
			}
		}
	}
	.project-list-row {
		h2 {
			font-size: rem(16px);
			letter-spacing: rem(1.23px);
			margin-top: 1em;
		}
		a {
			position: relative;
			display: block;
			overflow: hidden;
			color: black;
			&::after {
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				transition: all 0.3s ease-in;
				opacity: 0;
				background-color: rgba(0, 0, 0, 0.5);
			}
			&:hover {
				&::after {
					opacity: 1;
				}
			}
		}
		.col-12 {
			margin-bottom: rem(30px);
		}
	}
}

body.project, body.collaboratiion {
	p {
		font-weight: 300 !important;
		span {
			font-weight: 300 !important;
		}
	}
	.nextprev {
		@include media('>md') {
			height: rem(260px);
		}
		.colum {
			position: relative;
			text-align: center;

			@include media('>md') {
				color: white;
				overflow: hidden;
			}

			@include media('<=md') {
				height: 250px;
				margin-bottom: 4.5rem;
			}

			&:hover {
				text-decoration: none;
			}
			.btn {
				color: white;

				@include media('<=md') {
					display: none;
				}

				& + h3 {
					&::before, &::after {
						top: -0.15em;
				    position: relative;
						font-size: 0.75em;
						color: $primary-color;
						vertical-align: middle;
					}
				}

				&.arrow-on-left + h3 {
					@include icon('left-arrow', 'before');

					&::before {
						margin-right: 1rem;
					}
				}

				&:not(.arrow-on-left)+ h3 {
					@include icon('right-arrow', 'after');

					&::after {
						margin-left: 1rem;
					}
				}
			}
			&:first-child {
				padding-right: 0;
			}
			&::before {
				content: "";
				background-color: black;
				opacity: 0.4;
				position: absolute;
				z-index: 0;
				left: 0;
				right: 0;
				bottom: 0;
				top: 0;
				@include media('<=md') {
					display: none;
				}
			}
			h3 {

				@include media('>md') {
					letter-spacing: rem(2.31px);
					font-size: rem(20px);
					font-weight: 300;
				}

				@include media('<=md') {
					position: absolute !important;
					top: 100%;
					right: 0;
					left: 0;
					margin-top: 1.25rem !important;
					color: black;
					font-size: 1rem;
				}
			}
			.bg {
				position: absolute;
				z-index: -1;
				background-position: center center;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				background-size: cover;
				transition: all 0.3s ease-in;
			}
			&:hover {
				.bg {
					@include media('>md') {
						transform: scale(1.2);
					}
				}
			}
	}
	}
}
