$bigheader: rem(70px);
$smallheader: rem(70px);

		body:not(.template-index):not(.template-product) {
			#shopify-section-header {
				padding-bottom: rem(75px);
				.header {
					border-bottom: 1px solid #ECECEC;
				}
			}
		}

section.header {
	.h1 {
		margin-bottom: 0;
	}
	.socials {
		@include media('<=768px'){
//			display: none;
		}
	}
	.logo-image {
		img {
			height: rem(20px);
			@include media('<=768px'){
				height: rem(12px);
				width: auto;
				max-width: none;
				margin-top: 4px;
			}
		}
	}
	.h1 {
		line-height: normal;
	}
	h1 {
		margin: 0;
	}
	.header-row {
		height: $bigheader;
		transition: all 0.3s ease-in;
		will-change: auto;
		transform: translate3d(0,0,0);
		#shopify-section-header.small & {
			@include media('>768px'){
				height: $smallheader;
			}
		}
		.cart-icon {
			color: $primary-color;
			position: relative;
			.icon {
				@include media('<=768px'){
					width: 30px;
					height: 30px;
				}
			}
			.count {
				position: absolute;
				z-index: 9;
				top: -7px;
				right: -7px;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 15px;
				height: 15px;
				padding-top: 1px;
				border-radius: 100%;
				font-size: rem(9px);
				background-color: $secondary-color;
				color: white;
				@include media('<=768px'){
					font-size: rem(12px);
				}
			}
		}
		.navigation {
			list-style-type: none;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			margin: 0;
			@include media('<=1199px'){
				display: none;
			}
			ul {
				margin: 0;
				padding: 15px;
			}
			li {
				display: inline-block;
				margin-right: rem(20px);
				a {
					color: black;
					font-weight: 300;
					letter-spacing: 1px;
					font-size: rem(14px);
					text-transform: uppercase;
				}
			}
		}
		.burger-wrapper {
			height: 90%;
			.burger-container {
				height: 100%;
				width: rem(30px);
				display: flex;
				flex-direction: column;
				align-items: stretch;
				.lines {
					display: flex;
					justify-content: space-between;
					align-items: stretch;
					flex: 1;
					@include media('>1199px'){
						display: none;
					}
					span {
						width: 1px;
						display: inline-block;
						background-color: #ECECEC;
					}
				}
				.burger {
					flex: 1;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					padding-top: rem(20px);
					padding-bottom: rem(20px);
					span {
						background-color: $primary-color;
						display: inline-block;
						width: 100%;
						height: 1px;
						@include media('>1199px'){
							display: none;
						}
						&:nth-child(2){
						//	width: 50%;
						}
					}
				}
			}
		}
	}
}

body {
//	padding-top: rem(150px);
}

#shopify-section-header {
	position: relative;
	box-sizing: content-box;
	width: 100%;
	height: $bigheader;
	transition: all 0.3s ease-in;
	will-change: auto;
	&::before {
		content: "";
		position: absolute;
		z-index: 1; top: 0; right: 0; bottom: 0;
		left: 0;
		background-color: white;
	}
	.header {
		position: fixed;
		z-index: 99;
		width: 100%;
		background-color: white;
	}
	&.small {
		.header {

		}
	}

}

#MainContent {
	position: relative;
	z-index: 2;
	background-color: white;
}

#shopify-section-footer {
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
	@include media('<=lg'){
		position: static;
	}
	@include media('<=768px'){
		.site-footer {
			.h4 {
				margin-top: rem(45px) !important;
				margin-bottom: 2.5em;
			}
			p {
				margin-bottom: 0.5em;
			}
		}
		ul {
			li {
				margin-bottom: 0.5em;
			}
		}
	}
}

.footerspacer {
	position: relative;
	z-index: -1;
	display: block;
	width: 100%;
	height: rem(753px);
	@include clearfix;
	@include media('<=lg'){
		display: none;
	}
}
