
.sidebar-filter-toggle {
	@include reset(button);
	text-align: center;
	text-transform: uppercase;
	color: #4B515D;
	width: 100%;
	margin-bottom: 2rem;
	display: block;
	padding: 0.75rem;
	font-size: rem(13px);
	border: 1px solid #ECECEC;
	@include media('>lg') {
		display: none;
	}

	i {
		margin-right: 0.5rem;
	}

	&:hover, &:focus {
		box-shadow: none;
		outline: none;
	}
}
.sidebar-filter {
	@include media('<=lg') {
		position: fixed;
		z-index: 30;
		top: $smallheader;
		left: 0;
		width: 100vw;
		height: calc(100vh - #{$smallheader});
		padding: 40px;
		background-color: white;
		overflow: auto;
		opacity: 0;
		transform: scale(1.05);
		transition: all 0.4s $easeOutExpo;
		visibility: hidden;

		&.visible {
			opacity: 1;
			transform: scale(1);
			visibility: visible;
		}
	}

	&-close {
		@include reset(button);
		position: absolute;
		z-index: 2;
		top: 2rem;
		right: 2rem;
		padding: 0.25rem;
		@include icon(close);

		@include media('>lg') {
			display: none;
		}

		&:hover, &:focus {
			box-shadow: none;
			outline: none;
		}
	}
}
.sidebar-filter-list {
	list-style-type: none;
	font-size: rem(14px);
	padding: 0;
	border-right: 1px solid #F7F3EE;
	margin: 0;
	height: 100%;

	@include media('<=lg') {
		border-right: 0;
	}

	& > li {
		text-transform: uppercase;
		color: #4B515D;
		letter-spacing: rem(1.08px);
		font-weight: 700;
		margin-bottom: rem(20px);
		& > ul {
			list-style-type: none;
			padding: 0;
			margin-top: rem(10px);
			& > li {
				position: relative;
				padding-left: rem(20px);
				text-transform: none;
				margin-bottom: rem(10px);
				label {
					margin: 0;
				}
				&.current {
					font-weight: 700;
					a {
						font-weight: 700;
					}
				}
				.color_filter {
					display: inline-block;
					width: 1em;
					height: 1em;
					vertical-align: middle;
					border-radius: 100%;

					display: none;
				}
				a {
					color: #4B515D;
					letter-spacing: rem(1.08px);
					margin-bottom: rem(5px);
					display: inline-block;
					vertical-align: middle;
					margin-bottom: 0;
					height: 1em;
					font-weight: 300;
					&::first-letter {
						text-transform: uppercase;
					}
				}
				&::before {
					content: "";
					position: absolute;
					top: 0.6em;
					left: 0;
					width: rem(10px);
					height: 1px;
					background-color: #C5C5C5;
				}
				&.color_row {
/*
					padding-left: 0;
					&::before {
						content: none;
					}
*/
				}
				input {
					display: none;
				}
			}
		}
	}
}
