/**
 * Returns the transition properties in the correct format
 * This function is used by @mixin transition($transitions...)
 */
@function get-transition-properties($transition) {
  $property: all;
  $duration: $transition-duration;
  $easing: $transition-timing;
  $delay: null;

  $defaultProperties: (
    $property,
    $duration,
    $easing,
    $delay
  );

  $properties: ();

  @for $i from 1 through length($defaultProperties) {
    $p: null;

    @if $i <= length($transition) {
      $p: nth($transition, $i);
    } @else {
      $p: nth($defaultProperties, $i);
    }

    $properties: append($properties, $p);
  }

  @return $properties;
}


@function rem($px) {
  @return #{$px/$base}rem;
}


.be-sqaure {
	position: relative;
	padding-top: 100%;
	width: 100%;
	.inner {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
	}
}