<div class="container presslogocontainer">
	<div class="row">
		<div class="col-12 text-center page-header2 mb-0 pb-0">
			<h1 class="mb-0">{{ section.settings.title }}</h1>
			<div class="featured-text">{{ section.settings.featured_text }}</div>
		</div>
	</div>
<section class="separator small">

</section>
	<div class="about-carousel">
		{%- for block in section.blocks -%}
			<div class="slide px-3"><img src="{{ block.settings.image | img_url: '480x' }}" /></div>
		{% endfor %}
	</div>
</div>



{% schema %}
  {
    "name": "About us - Pass clients",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "My awards"
      },
      {
        "type": "richtext",
        "id": "featured_text",
        "label": "Text",
        "default": "<p>lorem ipsum dolor sit amet consexteur elit dolor</p>"
      }
    ],
	"blocks": [
      {
        "type": "carousel",
        "name": "Carousel",
        "settings": [
            {
		        "type": "image_picker",
		        "id": "image",
		        "label": "Image"
            },
		      {
		        "type": "url",
		        "id": "button_link",
		        "label": "Button link"
		      }
        ]
      }
    ]
  }
{% endschema %}
