<section class="process">
	<div class="container">
		<div class="row section-row align-items-stretch">
			<div class="col-lg-6 img">
				<div class="slickjs">
				  {%- for block in section.blocks -%}
				  	<div class="position-relative">
					  	<div class="bg" style="background-image: url('{{ block.settings.bg | img_url: '1920x' }}');"></div>
					</div>
				  {% endfor %}
				</div>
			</div>
			<div class="col-lg-6">
				<div class="slickjs-nav">
					 {%- for block in section.blocks -%}
					 	<div>{{ block.settings.title }}</div>
					 {% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>

{% schema %}
  {
    "name": "Process",
    "settings": [
		{
		   "type":      "select",
		   "id":        "position",
		   "label":     "Position",
		   "options": [
		     {
		       "group": "value",
		       "value": "left",
		       "label": "On left"
		     },
		     {
		       "group": "value",
		       "value": "right",
		       "label": "On right"
		     }
		   ],
		   "default":   "right",
		   "info":      "On right"
		},
		{
	        "type": "text",
	        "id": "color_code",
	        "label": "HEX color code background",
	        "default": "#4B515D"
		}
    ],
	"blocks": [
      {
        "type": "slide",
        "name": "Slide",
        "settings": [
            {
		        "type": "image_picker",
		        "id": "bg",
		        "label": "Background"
            },
            {
		        "type": "text",
		        "id": "title",
		        "label": "Title"
            },
		      {
		        "type": "richtext",
		        "id": "text",
		        "label": "Text",
		        "default": "<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>"
		      },
		      {
		        "type": "text",
		        "id": "button_label",
		        "label": "Button label"
		      },
		      {
		        "type": "url",
		        "id": "button_link",
		        "label": "Button link"
		      }
        ]
      }
    ],
    "presets": [
      {
        "name": "Process",
        "category": "Image"
      }
    ]
  }
{% endschema %}
