<section class="separator">
	
</section>

{% schema %}
  {
    "name": "Separator",
    "settings": [
    ],
    "presets": [
      {
        "name": "Separator",
        "category": "Image"
      }
    ]
  }
{% endschema %}
